<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true">
        <access-denied-handler error-page="/AddressBookUser" />
        <intercept-url pattern="/welcome/Admin" access="ROLE_ADMIN"/>
        <intercept-url pattern="/welcome/Doctor" access="ROLE_DOCTOR"/>
        <form-login
                login-page="/login"
                default-target-url="/welcome"
                username-parameter="firstname"
                password-parameter="password"
                authentication-failure-url="/login?error"
        />
        <logout logout-success-url="/login?logout"/>
        <!-- enable csrf protection -->
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select id, password from doctors where id = ?"
                               authorities-by-username-query="select doctor_id, role from roles where doctor_id = ?  " />
        </authentication-provider>
    </authentication-manager>

</beans:beans>