<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- ClientMapper.java namespace -->
<mapper namespace="main.java.ru.timur.clinic.mapper.ClientMapper">
    <!-- Person.java namespace -->
    <resultMap type="main.java.ru.timur.clinic.bean.Client" id="resultMap">
        <id property="id" column="ID" />
        <result property="firstname" column="FIRSTNAME"/>
        <result property="lastname" column="SURENAME"/>
        <result property="patronymic" column="PATRONIM"/>
        <result property="polis" column="PHONE"/>
        <result property="active" column="ENABLED"/>
    </resultMap>

    <select id="main.java.ru.timur.clinic.mapper.ClientMapper.getAllClients" resultMap="resultMap">
        SELECT * FROM clients
    </select>

    <select id="main.java.ru.timur.clinic.mapper.ClientMapper.getClientById" resultMap="resultMap">
        SELECT * FROM clients where ID = #{id}
    </select>

    <select id="main.java.ru.timur.clinic.mapper.ClientMapper.getClientByName" resultMap="resultMap">
        SELECT * FROM clients where FIRSTNAME = #{firstname}
    </select>

    <insert id="main.java.ru.timur.clinic.mapper.ClientMapper.insertClient" parameterType="main.java.ru.timur.clinic.bean.Client">
        INSERT INTO clients (FIRSTNAME, SURENAME, PATRONIM, PHONE, ENABLED)
        VALUES (#{firstname}, #{lastname}, #{patronymic}, #{polis}, #{active})
    </insert>

    <insert id="main.java.ru.timur.clinic.mapper.ClientMapper.updateClient" parameterType="main.java.ru.timur.clinic.bean.Client">
        UPDATE clients SET
        FIRSTNAME = #{firstname},
        LASTNAME = #{lastname},
        PATRONYMIC = #{patronymic},
        POLIS = #{polis},
        ACTIVE = #{active};
    </insert>

</mapper>