<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- ClientMapper.java namespace -->
<mapper namespace="main.java.ru.timur.clinic.mapper.ClientMapper">
    <!-- Person.java namespace -->
    <resultMap type="main.java.ru.timur.clinic.bean.Client" id="resultMap">
        <id property="id" column="ID" />
        <result property="firstname" column="FIRSTNAME"/>
        <result property="lastname" column="SURENAME"/>
        <result property="patronymic" column="PATRONIM"/>
        <result property="gender" column="gender"/>
        <result property="polis" column="PHONE"/>
        <result property="active" column="active"/>
    </resultMap>

    <select id="getAllClients" resultMap="resultMap">
        SELECT * FROM clients;
    </select>

    <select id="getClientById" resultMap="resultMap">
        SELECT * FROM clients where ID = #{id};
    </select>

    <select id="getClientByName" resultMap="resultMap">
        SELECT * FROM clients where FIRSTNAME = #{firstname};
    </select>

    <insert id="insertClient" parameterType="main.java.ru.timur.clinic.bean.Client">
        INSERT INTO clients (FIRSTNAME, SURENAME, PATRONIM, PHONE, GENDER, ENABLED)
        VALUES (#{firstname}, #{lastname}, #{patronymic}, #{polis}, #{genger}, #{active});
    </insert>

    <insert id="updateClient" parameterType="main.java.ru.timur.clinic.bean.Client">
        UPDATE clients SET
        FIRSTNAME = #{firstname},
        LASTNAME = #{lastname},
        PATRONYMIC = #{patronymic},
        POLIS = #{polis},
        GENDER = #{gender},
        ACTIVE = #{active};
    </insert>

    <select id="getAllClientsWithDoctors" resultMap="resultMapWithDoctors">
        SELECT
            clients.id, clients.firstname, clients.lastname,
            clients.patronymic, clients.phone, clients.polis, clients.active,
            doctors.firstname as doctor_firstname, doctors.lastname as doctor_lastname
        FROM clients JOIN doctors ON clients.doctor_id = doctors.id;
    </select>

    <resultMap type="Map" id="resultMapWithDoctors">
        <id property="id" column="ID" />
        <result property="firstname" column="FIRSTNAME"/>
        <result property="lastname" column="LASTNAME"/>
        <result property="patronymic" column="PATRONYMIC"/>
        <result property="phone" column="phone"/>
        <result property="polis" column="POLIS"/>
        <result property="active" column="active"/>
        <result property="doctorFirstname" column="doctor_firstname"/>
        <result property="doctorLastname" column="doctor_lastname"/>
    </resultMap>

    <select id="getClientWithDoctorsById" resultMap="resultMapWithDoctors">
        SELECT
        clients.id, clients.firstname, clients.lastname,
        clients.patronymic, clients.phone, clients.polis, clients.active,
        doctors.firstname as doctor_firstname, doctors.lastname as doctor_lastname
        FROM clients JOIN doctors ON clients.doctor_id = doctors.id where clients.id = #{id};
    </select>



</mapper>