<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- ClientMapper.java namespace -->
<mapper namespace="main.java.ru.timur.clinic.mapper.DoctorMapper">
    <!-- Person.java namespace -->
    <resultMap type="main.java.ru.timur.clinic.bean.Doctor" id="resultMap">
        <id property="id" column="ID" />
        <result property="firstname" column="FIRSTNAME"/>
        <result property="lastname" column="LASTNAME"/>
        <result property="patronymic" column="PATRONYMIC"/>
        <result property="speciality" column="SPECIALITY"/>
        <result property="cabinet" column="CABINET"/>
        <result property="password" column="PASSWORD"/>
        <result property="enabled" column="ENABLED"/>
    </resultMap>

    <select id="getAllDoctors" resultMap="resultMap">
        SELECT * FROM doctors ORDER BY ID;
    </select>

    <select id="getDoctorById" resultMap="resultMap">
        SELECT * FROM  doctors where ID = #{id};
    </select>

    <select id="getDoctorByName" resultMap="resultMap">
        SELECT * FROM  doctors where FIRSTNAME = #{firstname};
    </select>

    <insert id="insertDoctor" parameterType="main.java.ru.timur.clinic.bean.Doctor">
        INSERT INTO doctors (FIRSTNAME, LASTNAME, PATRONYMIC, PASSWORD, SPECIALITY, CABINET, ENABLED)
        VALUES (#{firstname}, #{lastname}, #{patronymic}, #{password}, #{speciality}, #{cabinet}, 1);
    </insert>


    <delete id="deletetDoctorById" parameterType="long">
        DELETE FROM doctors where ID = #{id};
    </delete>

    <insert id="updateDoctor" parameterType="main.java.ru.timur.clinic.bean.Doctor">
        UPDATE  doctors SET
        FIRSTNAME = #{firstname},
        LASTNAME = #{lastname},
        PATRONYMIC = #{patronymic},
        SPECIALITY = #{speciality},
        CABINET = #{cabinet},
        PASSWORD = #{password}
        where id = #{id};
    </insert>

</mapper>